<div class="row">
  <div class="col-md-4"></div>

  <div class="col-md-4">
    <h1>******</h1>
    <!-- bech nahihom -->
    <h1>------</h1>
    <!-- bech nahihom -->
    <h2>Ajouter une Université</h2>
    <form [formGroup]="universityForm" (ngSubmit)="onAddUniversite()">
      <div class="form-group">
        <label for="nomUniversite">Nom de l'université:</label>
        <input type="text" id="nomUniversite" formControlName="nomUniversite" placeholder="nom université" />
        <small class="text text-danger" *ngIf="universityForm.get('nomUniversite')?.hasError('required')">
          Le nom de l'université est requis.
        </small>
        <small class="text text-danger" *ngIf="universityForm.get('nomUniversite')?.hasError('pattern')">
          Le nom de l'université doit contenir uniquement des lettres.
        </small>
      </div>

      <div class="form-group">
        <label for="adresse">Adresse:</label>
        <input type="text" id="adresse" formControlName="adresse" placeholder="adresse université" />
        <small class="text text-danger" *ngIf="universityForm.get('adresse')?.hasError('required')">
          L'adresse est requise.
        </small>
        <small class="text text-danger" *ngIf="universityForm.get('adresse')?.hasError('pattern')">
          L'adresse  doit contenir uniquement des lettres.
        </small>
      </div>

      <div class="form-group">
        <label for="description">Description:</label>
        <input type="text" id="description" formControlName="description" placeholder="description université" />
        <small class="text text-danger" *ngIf="universityForm.get('description')?.hasError('required')">
          La description est requise.
        </small>
        <small class="text text-danger" *ngIf="universityForm.get('description')?.hasError('maxlength')">
          La description ne doit pas dépasser 140 caractères.
        </small>
      </div>

      <div class="form-group">
        <label for="image">Image:</label>
        <input type="file" id="image" (change)="onFileChanged($event)" formControlName="image" />
        <small class="text text-danger" *ngIf="universityForm.get('image')?.hasError('required')">
          L'image est requise.
        </small>
      </div>

      <div class="row">
        <div class="col-9">
          <button type="submit" class="au-btn au-btn-icon au-btn--green au-btn--small" [disabled]="universityForm.invalid">
            Ajouter Université
          </button>
        </div>
        <div class="col-3">
          <button type="button" class="au-btn au-btn-icon au-btn--blue au-btn--small" routerLink="/admin/university">
            Retour
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-4"></div>
</div>
