<div mat-dialog-title class="cc">
  <h1>Chambre Form</h1>
  <hr />
</div>
<form [formGroup]="chambForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content class="content custom-dialog-content">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>University</mat-label>
        <mat-select
          formControlName="university"
          [(ngModel)]="selectedUni"
          (selectionChange)="getFoyersByUniversity()"
        >
          <mat-option *ngFor="let i of uni" [value]="i">
            {{ i.nomUniversite }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Foyer</mat-label>
        <mat-select
          [(ngModel)]="selectedFoyer"
          (selectionChange)="getBlocByFoyer()"
          formControlName="foyer"
        >
          <mat-option *ngIf="foyers" [value]="foyers"
            >{{ foyers.nomFoyer }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>BlOC</mat-label>
        <mat-select formControlName="bloc" [(ngModel)]="selectedBloc">
          <mat-option *ngFor="let i of bloc" [value]="i"
            >{{ i.nomBloc }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Numéro Chambre</mat-label>
        <input
          matInput
          type="text"
          placeholder="Ex . 120"
          formControlName="numChamb"
        />
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>TYPE</mat-label>
        <mat-select formControlName="typeCh">
          <mat-option value="SIMPLE"> SIMPLE</mat-option>
          <mat-option value="DOUBLE"> DOUBLE</mat-option>
          <mat-option value="TRIPLE"> TRIPLE</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <hr />
  <div mat-dialog-actions class="action">
    <button mat-raised-button type="button" [mat-dialog-close]="false">
      Cancel
    </button>
    <button mat-raised-button color="primary" type="submit">save</button>
  </div>
</form>
