.content {
  padding-top: 10px;
}

.row {
  display: flex;
  gap: 10px;
}

.row mat-form-field {
  width: 100%;
}

.action {
  padding: 0px 25px 20px;
}

.action button {
  flex: 1;
}
.custom-dialog-content {
  width: 700px;
}
.cc{
  box-shadow: 0 2px 5px rgba(204, 115, 115, 0.3); /* Set the desired width */

}