<section class="hero-wrapper">
  <div class="paddings innerWidth flexCenter hero-container">
    <div class="flexColStart hero-left">
      <div class="hero-title">
        <div class="orange-circle"></div>

        <h1 [@fadeIn]>
          Book your ROOM <br />
          today
        </h1>
      </div>
      <div class="flexColStart hero-des">
        <span class="secondaryText"
          >Welcome to our CHmaberty site your key to securing a
          comfortable</span
        >
        <span class="secondaryText"
          >Welcome to our CHmaberty site your key to securing a
          comfortable</span
        >
        <span class="secondaryText"
          >Welcome to our CHmaberty site your key to securing a
          comfortable</span
        >
        <span class="secondaryText"
          >Welcome to our CHmaberty site your key to securing a
          comfortable</span
        >
        <span class="secondaryText"
          >Welcome to our "CHmaberty" site your key to securing a
          comfortable</span
        ><span class="secondaryText"
          >,and convenient stay in the heart of university life.Whether you're a
        </span>
        <span class="secondaryText">
          student planning your semester or a visitor seeking an immersive
        </span>
        <span class="secondaryText">
          experience, our easy-to-use booking platform is designed with you in
          mind.
        </span>
      </div>
      <div class="flexCenter search-bar">
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title> This is the expansion title </mat-panel-title>
            </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
          </mat-expansion-panel>
          <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
            <mat-expansion-panel-header>
              <mat-panel-title> Self aware panel </mat-panel-title>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
    <div class="flexCenter hero-right" [@fadeInImage]>
      <div class="col-md-10 col-md-offset-1">
        <div
          class="booking-form"
          style="margin-left: 180px; border-radius: 20px"
        >
          <form #bookingForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <div class="form-checkbox">
                <p
                  class="primaryText"
                  style="text-align: center; font-size: 20px"
                  *ngIf="foyers"
                >
                  BOOK YOUR ROOM IN {{ foyers.nomFoyer }} NOW
                </p>
              </div>
            </div>
            <div class="">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="name" class="form-label">Name</label>
                  <input
                    id="name"
                    name="name"
                    class="form-control"
                    type="text"
                    placeholder="Your Name"
                    [(ngModel)]="userconnect.prenom"
                    [disabled]="true"
                  />
                  <!-- Display validation error message -->
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="lastName" class="form-label secondaryText"
                    >LASTNAME</label
                  >
                  <input
                    id="lastName"
                    name="lastName"
                    class="form-control"
                    type="text"
                    placeholder="Last Name"
                    [(ngModel)]="userconnect.nom"
                    [disabled]="true"
                  />
                  <!-- Display validation error message -->
                </div>
              </div>
            </div>
            <div class="row">
              <!-- Duplicate the template-driven form for "Bloc" -->
              <div class="col-md-6">
                <div class="form-group">
                  <label for="bloc" class="form-label">Bloc</label>
                  <select
                    id="bloc"
                    name="bloc"
                    class="form-control"
                    [(ngModel)]="selectedBloc"
                    (change)="onBlocSelectionChange()"
                    required
                  >
                    <option *ngFor="let item of bloc" [ngValue]="item">
                      {{ item.nomBloc }}
                    </option>
                  </select>
                  <span class="select-arrow"></span>

                  <div
                    *ngIf="
                      bookingForm.controls['bloc'].invalid &&
                      (bookingForm.controls['bloc'].dirty ||
                        bookingForm.controls['bloc'].touched)
                    "
                    class="alert alert-danger"
                    role="alert"
                  >
                    Bloc is required.
                  </div>
                </div>
              </div>

              <!-- Duplicate the template-driven form for "Chambres" -->
              <div class="col-md-6">
                <div class="form-group">
                  <label for="chm" class="form-label">Chambre</label>
                  <select
                    id="chm"
                    name="chm"
                    class="form-control"
                    [(ngModel)]="selectedChambre"
                    (change)="onChambre()"
                    required
                  >
                    <option *ngFor="let item2 of chambres" [ngValue]="item2">
                      {{ item2.numeroChambre }}
                    </option>
                  </select>
                  <span class="select-arrow"></span>
                  <div
                    class="alert alert-danger"
                    role="alert"
                    *ngIf="
                      bookingForm.controls['chm'].invalid &&
                      (bookingForm.controls['chm'].dirty ||
                        bookingForm.controls['chm'].touched)
                    "
                  >
                    Chambre required
                  </div>
                </div>
              </div>
            </div>

            <div class="form-btn">
              <button
                class="submit-btn"
                type="submit"
              >
                Book Now
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
