<div mat-dialog-title class="cc">
  <h1>Chambre Form</h1>
  <hr />
</div>
<form [formGroup]="chambForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content class="content custom-dialog-content">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>University</mat-label>
        <mat-select formControlName="university">
          <mat-option *ngFor="let i of uni" [value]="i.nomUniversite">
            {{ i.nomUniversite }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="chambForm.get('university')?.hasError('required')">
          University is required.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Foyer</mat-label>
        <mat-select formControlName="foyer">
          <mat-option *ngFor="let i of foyers" [value]="i.nomFoyer">
            {{ i.nomFoyer }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="chambForm.get('foyer')!.hasError('required') && (chambForm.get('foyer')!.dirty || chambForm.get('foyer')!.touched)">
          Foyer is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>BlOC</mat-label>
        <mat-select formControlName="bloc">
          <mat-option *ngFor="let i of blocs" [value]="i.nomBloc">
            {{ i.nomBloc }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="chambForm.get('bloc')?.hasError('required')">
          Bloc is required.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Numéro Chambre</mat-label>
        <input
          matInput
          type="text"
          placeholder="Ex . 120"
          formControlName="numChamb"
        />
        <mat-error *ngIf="chambForm.get('numChamb')?.hasError('required')">
          Numéro Chambre is required.
        </mat-error>
        <mat-error *ngIf="chambForm.get('numChamb')?.hasError('pattern')">
          Please enter a valid number.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>TYPE</mat-label>
        <mat-select formControlName="typeCh">
          <mat-option value="SIMPLE"> SIMPLE</mat-option>
          <mat-option value="DOUBLE"> DOUBLE</mat-option>
          <mat-option value="TRIPLE"> TRIPLE</mat-option>
        </mat-select>
        <mat-error *ngIf="chambForm.get('typeCh')?.hasError('required')">
          Type is required.
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <hr />
  <div mat-dialog-actions class="action">
    <button mat-raised-button type="button" [mat-dialog-close]="false">
      Cancel
    </button>
    <button mat-raised-button color="primary" type="submit">save</button>
  </div>
</form>
