<link rel="preconnect" href="https://fonts.googleapis.com" />
<link href="/assets/front/css/style.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
  />
  <!-- BoxIconx -->
  <link
    href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0..1,0" />

    <title>FoyerFront</title>
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" type="image/x-icon" href="favicon.ico" />
      <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<!-- Vendor CSS Files -->
<link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link
  href="/assets/vendor/bootstrap-icons/bootstrap-icons.css"
  rel="stylesheet"
/>
<link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
<div class="App">
  <div>
    <div class="white-gradient"></div>
    <app-header> </app-header>
    <app-home></app-home>
  </div>
  <app-logo></app-logo>

  <app-list-university></app-list-university>
  <app-value></app-value>
  <app-contact></app-contact>
  <app-get-started></app-get-started>
  <app-footer></app-footer>


  <!-- <div>
    <div class="blue-gradient"></div>

    <app-add-reservation></app-add-reservation>
  </div> -->
  <div>
    <div class="blue-gradient"></div>

    <app-reser-test></app-reser-test>
  </div>
</div>
