<section class="section property" aria-labelledby="property-label">
  <div class="container">
    <div class="title-wrapper">
      <div>
        <p class="primaryText">Popular events</p>
      </div>
      <a href="#" class="btn btn-outline">
        <span class="label-medium">Explore more</span>

        <span class="material-symbols-rounded" aria-hidden="true"
          >arrow_outward</span
        >
      </a>
    </div>

    <div class="property-list">
      <div class="card">
        <img alt="" />
        <div class="card-content">
          <h2>test</h2>
          <div>
            <p>0911-2000</p>
          </div>
          <button class="button">participate</button>
        </div>
      </div>
    </div>
  </div>
</section>
