<section class="hero-wrapper">
  <div class="paddings innerWidth flexCenter hero-container">
    <div class="flexColStart hero-left">
      <div class="hero-title">
        <div class="orange-circle"></div>

        <h1 [@fadeIn]>
          Book your ROOM <br />
          today
        </h1>
      </div>
      <div class="flexColStart hero-des">
        <span class="secondaryText"
          >Welcome to our CHmaberty site your key to securing a
          comfortable</span
        >
        <span class="secondaryText"
          >Welcome to our CHmaberty site your key to securing a
          comfortable</span
        >
        <span class="secondaryText"
          >Welcome to our CHmaberty site your key to securing a
          comfortable</span
        >
        <span class="secondaryText"
          >Welcome to our CHmaberty site your key to securing a
          comfortable</span
        >
        <span class="secondaryText"
          >Welcome to our "CHmaberty" site your key to securing a
          comfortable</span
        ><span class="secondaryText"
          >,and convenient stay in the heart of university life.Whether you're a
        </span>
        <span class="secondaryText">
          student planning your semester or a visitor seeking an immersive
        </span>
        <span class="secondaryText">
          experience, our easy-to-use booking platform is designed with you in
          mind.
        </span>
      </div>
      <div class="flexCenter search-bar">
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title> This is the expansion title </mat-panel-title>
            </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
          </mat-expansion-panel>
          <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
            <mat-expansion-panel-header>
              <mat-panel-title> Self aware panel </mat-panel-title>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
    <div class="flexCenter hero-right" [@fadeInImage]>
      <div class="col-md-10 col-md-offset-1">
        <div
          class="booking-form"
          style="margin-left: 230px; border-radius: 20px"
        >
          <form>
            <div class="form-group">
              <div class="form-checkbox">
                <p class="primaryText" style="text-align: center">
                  BOOK YOUR ROOM NOW
                </p>
              </div>
            </div>
            <div class="">
              <div class="col-md-12">
                <div class="form-group">
                  <span class="form-label">Name</span>
                  <input
                    class="form-control"
                    type="text"
                    placeholder="City or airport"
                  />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <span class="form-label secondaryText">LASTNAME</span>
                  <input
                    class="form-control"
                    type="text"
                    placeholder="City or airport"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <span class="form-label">university year</span>
                  <input class="form-control" type="date" required />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <span class="form-label">Bloc</span>
                  <select class="form-control">
                    <option>A</option>
                    <option>B</option>
                    <option>C</option>
                  </select>
                  <span class="select-arrow"></span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <span class="form-label">Chambres</span>
                  <select class="form-control">
                    <option>1</option>
                    <option>2</option>
                  </select>
                  <span class="select-arrow"></span>
                </div>
              </div>
            </div>
            <div class="form-btn">
              <button class="submit-btn">Book Now</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
