<section class="c-wrapper">
  <div class="paddings innerWidth flexCenter c-container">
    <div class="flexColStart c-left">
      <div class="contact__desc">
        <span class="orangeText">our contact</span>
        <span class="primaryText">Easy to contact Us </span>
        <span class="secondaryText">we always ready to help by providing</span>
      </div>
      <div class="flexColStart contactModes">
        <div class="flexStart row">
          <div class="flexColCenter mode">
            <div class="flexColStart">
              <div class="flexCenter icon">import react</div>
              <div class="flexColStart detail">
                <span class="primaryText">Call</span>
                <span>+216 99 601 715</span>
              </div>
            </div>
            <div class="flexCenter button">Call Now</div>
          </div>

          <div class="flexColCenter mode">
            <div class="flexColStart">
              <div class="flexCenter icon">import react</div>
              <div class="flexColStart detail">
                <span class="primaryText">Chat</span>
                <span>+216 99 601 715</span>
              </div>
            </div>
            <div class="flexCenter button">Chat Now</div>
          </div>
        </div>
      </div>

      <div class="flexStart contactModes">
        <div class="flexStart row">
          <div class="flexColCenter mode">
            <div class="flexColStart">
              <div class="flexCenter icon">import react</div>
              <div class="flexColStart detail">
                <span class="primaryText">Message</span>
                <span>+216 99 601 715</span>
              </div>
            </div>
            <div class="flexCenter button">Message Now</div>
          </div>

          <div class="flexColCenter mode">
            <div class="flexColStart">
              <div class="flexCenter icon">import react</div>
              <div class="flexColStart detail">
                <span class="primaryText">Video</span>
                <span>+216 99 601 715</span>
              </div>
            </div>
            <div class="flexCenter button">Video Call Now</div>
          </div>
        </div>
      </div>
    </div>
    <div class="c-right">
      <div class="image-container">
        <img src="../../assets/images/contact.jpg" alt="" />
      </div>
    </div>
  </div>
</section>
