<section class="f-wrapper">
    <div class="paddings innerwidth flexCenter f-container">
        <div class="flexColStart f-left">
            <img src="src\assets\logo.png" alt="" width="{120}">
            <span class="secondaryText">
                Neque porro quisquam est qui dolorem ipsum quia <br>
                dolor sit 
            </span>
        </div>
        <div class="flexColStart f-right">
            <span class="primaryText">information </span>
                <span class="secondaryText">
                    New york,FL 4571 USA
                </span>
                <div class="flexCenter f-menu">
                    <span>property</span>
                    <span>services</span>
                    <span>providers</span>
                    <span>about us</span>
                </div>
        </div>
    </div>
</section>
