<p>add-bloc-back works!</p>
<main id="main" class="main">
    <div class="pagetitle">
      <h1>Bloc List</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item">Gestion Bloc</li>
          <li class="breadcrumb-item active">List Blocs</li>
        </ol>
      </nav>
    </div>
    <!-- End Page Title -->
    <br />
    <form class="booking-form" action="#" method="post">
      <div class="elem-group">
        <label for="name">Bloc Name</label>
        <input
          type="text"
          id="name"
          name="visitor_name"
          placeholder="John Doe"
          pattern="[A-Z\sa-z]{3,20}"
          required
        />
      </div>
      <div class="elem-group">
        <label for="capacity">Bloc Capacity</label>
        <input
          type="number"
          id="capacity"
          name="capaciteBloc"
          placeholder="Bloc capacity"
          required
        />
      </div>
      <hr />
      <div class="elem-group">
        <label for="room-selection">Select Room Preference</label>
        <select id="room-selection" name="room_preference" required>
          <option value="">Choose a Room from the List</option>
          <option value="connecting">Connecting</option>
          <option value="adjoining">Adjoining</option>
          <option value="adjacent">Adjacent</option>
        </select>
      </div>
      <hr />
      <button type="submit">Add the Bloc</button>
    </form>
  </main>
  