<div class="row">
  <div class="col-md-4"></div>

  <div class="col-md-4">
    <h1>******</h1>
    <!--bech nahihom-->
    <h1>------</h1>
    <!--bech nahihom-->
    <h2>Ajouter un foyer</h2>
    <form [formGroup]="foyerFormGroup" (ngSubmit)="onAddFoyer()">
      <label for="nomFoyer  ">Nom de lfoyer:</label>
      <input
        type="text"
        id="nomFoyer"
        formControlName="nomFoyer"
        placeholder="nom foyer"
      />

      <label for="capaciteFoyer">capacité:</label>
      <input
        type="text"
        id="capacite"
        formControlName="capaciteFoyer"
        placeholder="capacite foyer"
      />

      <label for="image">Image:</label>
      <input type="file" id="image" (change)="onFileChanged($event)" />

      <label for="universite">Affecté université:</label>
      <div mat-dialog-content class="content custom-dialog-content">
        <div class="row">
          <mat-form-field appearance="outline">
            <mat-label>University</mat-label>
            <mat-select formControlName="university" [(ngModel)]="selectedUni">
              <mat-option *ngFor="let i of uni" [value]="i">
                {{ i.nomUniversite }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-9">
          <button
            type="submit"
            class="au-btn au-btn-icon au-btn--green au-btn--small"
          >
            Ajouter foyer
          </button>
        </div>
        <div class="col-3">
          <button
            type="button"
            class="au-btn au-btn-icon au-btn--blue au-btn--small"
            routerLink="/admin/foyer"
          >
            Retour
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-4"></div>
</div>
