<div class="row">
  <div class="col-md-4"></div>

  <div class="col-md-4">
    <h1>******</h1>
    <!--bech nahihom-->
    <h1>------</h1>
    <!--bech nahihom-->
    <h2>Ajouter un foyer</h2>
    <form [formGroup]="foyerFormGroup" (ngSubmit)="onAddFoyer()">
      <div class="form-group">
        <label for="nomFoyer">Nom du foyer:</label>
        <input type="text" id="nomFoyer" formControlName="nomFoyer" placeholder="nom foyer" />
        <small class="text text-danger" *ngIf="foyerFormGroup.get('nomFoyer')?.hasError('required')">
          Le nom du foyer est requis.
        </small>
        <small class="text text-danger" *ngIf="foyerFormGroup.get('nomFoyer')?.hasError('pattern')">
          Le nom du foyer doit contenir uniquement des lettres.
        </small>
      </div>

      <div class="form-group">
        <label for="capaciteFoyer">Capacité:</label>
        <input type="text" id="capacite" formControlName="capaciteFoyer" placeholder="capacité foyer" />
        <small class="text text-danger" *ngIf="foyerFormGroup.get('capaciteFoyer')?.hasError('required')">
          La capacité est requise.
        </small>
        <small class="text text-danger" *ngIf="foyerFormGroup.get('capaciteFoyer')?.hasError('pattern')">
          La capacité doit contenir uniquement des chiffres.
        </small>
      </div>

      <div class="form-group">
        <label for="image">Image:</label>
        <input type="file" id="image" (change)="onFileChanged($event)" formControlName="image" />
        <small class="text text-danger" *ngIf="foyerFormGroup.get('image')?.hasError('required')">
          L'image est requise.
        </small>
      </div>
      <label for="universite">Affecté université:</label>
      <div mat-dialog-content class="content custom-dialog-content">
        <div class="row">
          <mat-form-field appearance="outline">
            <mat-label>University</mat-label>
            <mat-select formControlName="university" [(ngModel)]="selectedUni">
              <mat-option *ngFor="let i of uni" [value]="i">
                {{ i.nomUniversite }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-9">
          <button
            type="submit"
            class="au-btn au-btn-icon au-btn--green au-btn--small"
          >
            Ajouter foyer
          </button>
        </div>
        <div class="col-3">
          <button
            type="button"
            class="au-btn au-btn-icon au-btn--blue au-btn--small"
            routerLink="/admin/foyer"
          >
            Retour
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-4"></div>
</div>
