/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2023 codewithsadee
 */





/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

  /**
   * COLORS
   */

  --white: #FFFFFF;
  --yellow: #F6BD26;
  --primary-100: #2179FF;
  --primary-90: #1E6DE5;
  --primary-80: #1B61CC;
  --primary-70: #1755B2;
  --primary-40: #0D3166;
  --primary-20: #071833;
  --secondary-100: #21FFFF;
  --secondary-20: #073333;
  --neutral-100: #FAFCFF;
  --neutral-98: #F2F5FA;
  --neutral-95: #E9ECF2;
  --neutral-90: #DADFE5;
  --neutral-80: #C2C6CC;
  --neutral-60: #919499;
  --neutral-50: #797C80;
  --neutral-40: #616366;
  --neutral-30: #494A4D;
  --neutral-20: #303133;
  --neutral-10: #18191A;
  --neutral-5: #0C0C0D;
  --error-100: #FF2134;

  /* gradient */
  --gradient: linear-gradient(270deg, #0F4392 0%, #001D3D 100%);

  /**
   * TYPOGRAPHY
   */
  
  /* font family */
  --font-primary: 'Montserrat', sans-serif;

  /* font size */
  --fs-base: 62.5%;
  --fs-headline-large: 3.6rem;
  --fs-headline-medium: 2.8rem;
  --fs-headline-small: 2.8rem;
  --fs-title-large: 2.2rem;
  --fs-title-medium: 2rem;
  --fs-title-small: 1.8rem;
  --fs-body-large: 1.6rem;
  --fs-body-medium: 1.6rem;
  --fs-label-large: 1.6rem;
  --fs-label-medium: 1.4rem;

  /* line height */
  --lh-headline-large: 44px;
  --lh-headline-medium: 36px;
  --lh-headline-small: 36px;
  --lh-title-large: 28px;
  --lh-title-medium: 24px;
  --lh-title-small: 24px;
  --lh-body-large: 24px;
  --lh-body-medium: 24px;
  --lh-label-large: 24px;
  --lh-label-medium: 20px;

  /* font weight */
  --weight-bold: 700;
  --weight-semiBold: 600;
  --weight-regular: 400;

  /* letter spacing */
  --traking-n-025: -0.25px;
  --traking-p-05: 0.5px;

  /**
   * RADIUS
   */

  --radius-small: 8px;
  --radius-medium: 12px;
  --radius-large: 16px;
  --radius-extra-large: 32px;
  --radius-full: 1000px;
  --radius-circle: 50%;

  /**
   * SHADOW
   */

  --shadow-1: 0px 2px 4px 0px #00000033;
  --shadow-2: 0px 5px 10px 0px #0000000D;
  --shadow-3: 0px 5px 10px 0px #00000033;
  --shadow-4: 0px 10px 20px 0px #0000001A;

  /**
   * TRANSITION
   */

  --transition-easing-quick: cubic-bezier(0, 0.7, 0.3, 1);
  --transition-duration-quick: 200ms;
  --transition-duration-smooth: 500ms;

}





/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a,
img,
span,
input,
select,
button { display: block; }

a {
  color: inherit;
  text-decoration: none;
}

img { height: auto; }

input,
button,
select {
  background: none;
  border: none;
  font: inherit;
}

button { cursor: pointer; }

input,
select {
  width: 100%;
  outline: none;
}

address { font-style: normal; }

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

html {
  font-family: var(--font-primary);
  font-size: var(--fs-base);
  scroll-behavior: smooth;
}

body {
  background-color: var(--neutral-98);
  color: var(--neutral-5);
  font-size: var(--fs-body-medium);
  line-height: var(--lh-body-medium);
}

::-webkit-scrollbar { width: 12px; }

::-webkit-scrollbar-track { background-color: var(--neutral-90); }

::-webkit-scrollbar-thumb {
  background-color: var(--neutral-60);
  border-radius: 4px;
}





/*-----------------------------------*\
  #TYPOGRAPHY
\*-----------------------------------*/

.headline-large {
  font-size: var(--fs-headline-large);
  line-height: var(--lh-headline-large);
  font-weight: var(--weight-bold);
  letter-spacing: var(--traking-n-025);
}

.headline-medium {
  font-size: var(--fs-headline-medium);
  line-height: var(--lh-headline-medium);
  font-weight: var(--weight-bold);
}

.headline-small {
  font-size: var(--fs-headline-small);
  line-height: var(--lh-headline-small);
  font-weight: var(--weight-bold);
}

.title-large {
  font-size: var(--fs-title-large);
  line-height: var(--lh-title-large);
  font-weight: var(--weight-semiBold);
}

.title-medium {
  font-size: var(--fs-title-medium);
  line-height: var(--lh-title-medium);
  font-weight: var(--weight-semiBold);
}

.title-small {
  font-size: var(--fs-title-small);
  line-height: var(--lh-title-small);
  font-weight: var(--weight-semiBold);
}

.body-large {
  font-size: var(--fs-body-large);
  line-height: var(--lh-body-large);
  font-weight: var(--weight-regular);
}

.body-medium {
  font-size: var(--fs-body-medium);
  line-height: var(--lh-body-medium);
  font-weight: var(--weight-regular);
}

.label-medium {
  font-size: var(--fs-label-medium);
  line-height: var(--lh-label-medium);
  font-weight: var(--weight-semiBold);
  letter-spacing: var(--traking-p-05);
}





/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.material-symbols-rounded {
  display: block;
  width: 1em;
  height: 1em;
  overflow: hidden;
  font-variation-settings: 
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
}

.container {
  padding-inline: 16px;
  max-width: 580px;
  width: 100%;
  margin-inline: auto;
}



.img-holder {
  aspect-ratio: var(--width) / var(--height);
  background-color: var(--neutral-80);
  overflow: hidden;
  border-radius: 20px;
}

.img-cover {
  width: 100%;
  height: 100%;

  border-radius: 20px;
}





/*-----------------------------------*\
  #COMPONENT
\*-----------------------------------*/

/**
 * BUTTON
 */

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  height: 48px;
  padding-inline: 24px;
  border-radius: var(--radius-full);
  max-width: max-content;
  transition: var(--transition-duration-quick) var(--transition-easing-quick);
}

.btn-fill {
  background-color: var(--primary-100);
  color: var(--neutral-100);
}

.btn-fill:where(:hover, :focus) {
  background-color: var(--primary-90);
  box-shadow: var(--shadow-1);
}

.btn-fill:where(:active, :focus-visible) { background-color: var(--primary-80); }

.btn-outline {
  color: var(--primary-100);
  box-shadow: inset 0 0 0 2px var(--primary-100);
}

.btn-outline:where(:hover, :focus, :focus-visible) { color: var(--neutral-100); }

.btn-outline:hover { background-color: var(--primary-100); }

.btn-outline:focus { background-color: var(--primary-90); }

.btn-outline:where(:active, :focus-visible) { background-color: var(--primary-80); }



/**
 * ICON BTN
 */

.icon-btn {
  height: 40px;
  width: 40px;
  display: grid;
  place-items: center;
  background-color: var(--neutral-100);
  color: var(--neutral-10);
  border-radius: var(--radius-small);
  box-shadow: var(--shadow-3);
  transition: var(--transition-duration-quick) var(--transition-easing-quick);
}

.icon-btn:where(:hover, :focus-visible) { background-color: var(--neutral-90); }



/**
 * BADGE
 */




/**
 * CARD
 */

.card {
  border-radius: var(--radius-large);
  overflow: hidden;
  box-shadow: var(--shadow-2);
  transition: var(--transition-duration-quick) var(--transition-easing-quick);
}

.card:where(:hover, :focus-within) { box-shadow: var(--shadow-4); }

.card-banner { position: relative; }

.card-banner .img-cover {
  transition: var(--transition-duration-smooth) var(--transition-easing-quick);
}

.card:where(:hover, :focus-within) .img-cover {
  scale: 1.05;
  rotate: 2deg;
}

.card :where(.badge, .icon-btn) {
  position: absolute;
  top: 20px;
}

.card .badge { left: 20px; }

.card .icon-btn {
  right: 20px;
  opacity: 0;
  visibility: hidden;
  scale: 0.8;
  transition: var(--transition-duration-quick) var(--transition-easing-quick);
}
.card:hover{
  box-shadow: 0 12px 16px hsla(228, 90%, 45%, 0.5);
}

.fav-btn { color: var(--error-100); }

.fav-btn.active .material-symbols-rounded {
  font-variation-settings: 'FILL' 1;
}

.card:where(:hover, :focus-within) .icon-btn {
  scale: 1;
  opacity: 1;
  visibility: visible;
}

.card-content { padding: 20px 20px 24px; }

.card-title {
  margin-block: 8px;
  color: var(--neutral-20);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: var(--transition-duration-quick) var(--transition-easing-quick);
}

.card-title:where(:hover, :focus-visible) { color: var(--primary-100); }

.card-text { color: var(--neutral-40); }

.card-meta-list {
  padding-block-start: 16px;
  margin-block-start: 16px;
  border-block-start: 1px solid var(--neutral-90);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}

.card .meta-item {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--neutral-20);
}











/*-----------------------------------*\
  #PROPERTY
\*-----------------------------------*/

.property { padding-block-start: 60px; }

.property .section-text {
  margin-block: 8px 16px;
  color: var(--neutral-30);
}

.property-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 16px;
}















/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/


/**
 * responsive for larger than 768px screen
 */

@media (min-width: 768px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * TYPOGRAPHY
     */

    /* font size */
    --fs-headline-large: 5.2rem;
    --fs-headline-medium: 4rem;
    --fs-headline-small: 3.6rem;

    /* line height */
    --lh-headline-large: 64px;
    --lh-headline-medium: 52px;
    --lh-headline-small: 48px;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 720px; }

  .section { padding-block-end: 80px; }

  .title-wrapper,
  .story .title-wrapper {
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
    gap: 40px;
    margin-block-end: 48px;
  }




  /**
   * PROPERTY
   */

  .property { padding-block-start: 80px; }

  .property .section-text { margin-block-end: 0; }



  /**
   * FEATURE
   */

  .feature-content { padding-block-start: 32px; }

  .feature-content .feature-text {
    margin-block: 16px 24px;
    line-height: 28px;
  }

  .feature-list {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }



}





/**
 * responsive for larger than 992px screen
 */

@media (min-width: 992px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * TYPOGRAPHY
     */
    
    /* font size */
    --fs-body-large: 1.8rem;

    /* line height */
    --lh-body-large: 32px;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 950px; }




  /**
   * PROPERTY
   */

  .property .section-text { max-width: 640px; }




}





/**
 * responsive for larger than 1440px screen
 */

@media (min-width: 1440px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * TYPOGRAPHY
     */

    /* font size */
    --fs-headline-large: 7.2rem;
    --fs-headline-medium: 5.4rem;

    /* line height */
    --lh-headline-large: 92px;
    --lh-headline-medium: 72px;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 1460px; }



 

}