<section class="section property" aria-labelledby="property-label">
  <div class="container">
    <div class="title-wrapper">
      <div>
        <h2 class="orangeText">Best Choice</h2>

        <p class="primaryText">Popular university</p>
      </div>
      <a href="#" class="btn btn-outline">
        <span class="label-medium">Explore more</span>

        <span class="material-symbols-rounded" aria-hidden="true"
          >arrow_outward</span
        >
      </a>
    </div>

    <div class="property-list" >
      <div class="card" *ngFor="let i of list">
        <div class="card-banner">
          <figure class="img-holder" style="--width: 585; --height: 390">
            <img
              [src]="'data:image/jpeg;base64,' + i.imageUrl"
              alt="Université Image"
              width="585"
              height="390"
              class="img-cover"
            />
          </figure>

          <span class="badge label-medium">HOT</span>

          <button
            class="icon-btn fav-btn"
            aria-label="add to favorite"
            data-toggle-btn
          >
            <span class="material-symbols-rounded" aria-hidden="true"
              >favorite</span
            >
          </button>
        </div>

        <div class="card-content">
          <h3>
            <a href="#" class="title-small card-title"
              ><span class="title-large">
                <i class="bx bxs-institution"></i> {{ i.nomUniversite }}</span
              ></a
            >
          </h3>

          <address class="body-medium card-text">
            {{ i.adresse }}
             </address>
             <address class="body-medium card-text">
              {{ i.description }}
            </address>
            <!--<div *ngIf="depasseLimiteMots(i.description, 140)">
              <p class="text-danger">La description dépasse la limite de 140 mots.</p>
            </div>-->
               

          <div class="card-meta-list">
            <div class="meta-item">
              <span
                class="material-symbols-rounded meta-icon"
                aria-hidden="true"
                >bed</span
              >

              <span class="meta-text label-medium"></span>
            </div>

            <div class="meta-item">
              <span
                class="material-symbols-rounded meta-icon"
                aria-hidden="true"
                >bathtub</span
              >

              <span class="meta-text label-medium">2 Bath</span>
            </div>

            <div class="meta-item">
              <span
                class="material-symbols-rounded meta-icon"
                aria-hidden="true"
                >straighten</span
              >

              <span class="meta-text label-medium">10 bed </span>
            </div>
          </div>
        </div>
      </div>

      
    </div>
  </div>
</section>
