<div class="row">
    <div class="col-md-4"></div>
  
    <div class="col-md-4">
      <h1>******</h1><!--bech nahihom-->
      <h1>------</h1><!--bech nahihom-->
      <h2>Ajouter une Evenement</h2>
      <form [formGroup]="eventForm" (ngSubmit)="onAddEvenement()">
        <label for="nomEvenement  " >Nom Evenement:</label>
        <input type="text" id="nomEvenement" formControlName="nomEvenement"  placeholder="nom Evenement" />
  
        <label for="lieu">Lieu:</label>
        <input type="text" id="lieu" formControlName="lieu" placeholder="lieu Evenement" required />


        <label for="dateEvenement">date Evenement:</label>
        <input type="date" id="dateEvenement" formControlName="dateEvenement"  placeholder="date Evenement"/>
        
        <label for="description">description:</label>
        <input type="text" id="description" formControlName="description"  placeholder="description Evenement"/>
        <label for="image">Image:</label>
        <input type="file" id="image" (change)="onFileChanged($event)" />
        
        
        <button
        style="
                      color: white;
                      background-color: #4154f1;
                      padding: 3px 3px;
                      border-radius: 3px;
                      margin-left: 0.8rem;
                    "
          type="submit"
          class="au-btn au-btn-icon au-btn--green au-btn--small"
        >
          Ajouter Evenement
        </button>
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>
  