<main id="main" class="main">
  <div class="pagetitle">
    <h1>Liste des universités</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item">Gestion d'université</li>
        <li class="breadcrumb-item active">Liste université</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->
  <br />
  <section class="section">
    <div class="section__content section__content--p30">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <!-- DATA TABLE -->

            <div class="table-data__tool">
              <div class="table-data__tool-left">
                <input
                  type="search"
                  placeholder="search"
                  style="
                    border: 3px solid rgb(177, 172, 172);
                    border-radius: 10px;
                  "
                />
                <button
                  style="
                    color: white;
                    background-color: #4154f1;
                    padding: 3px 3px;
                    border-radius: 3px;
                    margin-left: 0.8rem;
                  "
                >
                  Search
                </button>
              </div>
              <div class="table-data__tool-right">
                <button
                  style="
                    color: white;
                    background-color: #4154f1;
                    padding: 3px 3px;
                    border-radius: 3px;
                    margin-left: 0.8rem;
                  "
                  type="button"
                  class="au-btn au-btn-icon au-btn--green au-btn--small"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModalLong"
                  routerLink="/admin/university/addUniversite"
                >
                  <i class="zmdi zmdi-plus"></i>add université
                </button>

                <div class="rs-select2--dark rs-select2--sm rs-select2--dark2">
                  <select class="js-select2" name="type">
                    <option selected="selected">Export</option>
                    <option value="">Option 1</option>
                    <option value="">Option 2</option>
                  </select>
                  <div class="dropDownSelect2"></div>
                </div>
              </div>
            </div>
            <div class="table-responsive table-responsive-data2">
              <table class="table table-data2">
                <thead>
                  <tr>
                    <th>Image foyer</th>
                    <th>adresse</th>
                    <th>Nom Universite</th>
                    <th>Nom Foyer</th>
                    <th style="text-align: center">Action</th>
                  </tr>
                </thead>
                <tbody *ngFor="let i of list">
                  <tr class="tr-shadow">
                    <td>
                      <img
                        width="200"
                        height="100"
                        [src]="'data:image/jpeg;base64,' + i.imageUrl"
                        alt="Université Image"
                      />
                    </td>

                    <td>{{ i.adresse }}</td>
                    <td>
                      <span class="block-email">{{ i.nomUniversite }}</span>
                    </td>
                    <td class="desc" *ngIf="i.foyer; else autreContenu">
                      {{ i.foyer.nomFoyer }}
                    </td>
                    <ng-template #autreContenu>pas du foyer</ng-template>

                    <td>
                      <div class="table-data-feature">
                        <button
                          class="item"
                          data-toggle="tooltip"
                          data-placement="top"
                          title="Send"
                        >
                          <i class="bi bi-house-add-fill"></i>
                        </button>
                        <button
                          class="item"
                          data-toggle="tooltip"
                          data-placement="top"
                          title="Edit"
                        >
                          <i class="bx bx-edit-alt"></i>
                        </button>
                        <button
                          class="item"
                          data-toggle="tooltip"
                          data-placement="top"
                          title="Delete"
                          (click)="onDelete(i.idUniversite)"
                        >
                          <i class="bi bi-trash-fill"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                  <tr class="spacer"></tr>
                </tbody>
              </table>
            </div>
            <!-- END DATA TABLE -->
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- End #main -->
