<section class="g-wrapper">
    <div class=" paddings innerWidth g-container">
         <div class="flexColCenter inner-container">
            <span class="primaryText">get started with homyz</span>
            <span class="secondaryText">Subscribe and find super attractive price <br />
            Find residence soon
            </span>
            <button class="button">
                <a href="mailto:esprit@gmail.com">Get Started</a>
            </button>
         </div>
    </div>
</section>