.section {
  position: relative;
  height: 100vh;
}

.section .section-center {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

#booking {
  font-family: "Lato", sans-serif;
  background-size: cover;
  background-position: center;
  color: #191a1e;
}

.booking-form {
  position: relative;
  background: #fff;
  max-width: 642px;
  width: 100%;
  margin: auto;
  padding: 45px 25px 25px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.booking-form .form-group {
  position: relative;
  margin-bottom: 20px;
}

.booking-form .form-control {
  background-color: #fff;
  height: 65px;
  padding: 0px 15px;
  padding-top: 24px;
  color: #191a1e;
  border: 2px solid #dfe5e9;
  font-size: 16px;
  font-weight: 700;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 4px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.booking-form .form-control::-webkit-input-placeholder {
  color: #000000;
}

.booking-form .form-control:-ms-input-placeholder {
  color: #d1d1d1;
}

.booking-form .form-control::placeholder {
  color: #d1d1d1;
}

.booking-form .form-control:focus {
  background: #f9fafb;
}

.booking-form input[type="date"].form-control:invalid {
  color: #dfe5e9;
}

.booking-form select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.booking-form select.form-control + .select-arrow {
  position: absolute;
  right: 6px;
  bottom: 6px;
  width: 32px;
  line-height: 32px;
  height: 32px;
  text-align: center;
  pointer-events: none;
  color: #dfe5e9;
  font-size: 14px;
}

.booking-form select.form-control + .select-arrow:after {
  content: "\279C";
  display: block;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.booking-form .form-label {
  position: absolute;
  top: 6px;
  left: 20px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 24px;
  height: 24px;
  font-size: 12px;
  color: rgb(140 139 139);
}

.booking-form .form-checkbox input {
  position: absolute !important;
  margin-left: -9999px !important;
  visibility: hidden !important;
}

.booking-form .form-checkbox label {
  position: relative;
  padding-top: 4px;
  padding-left: 30px;
  font-weight: 700;
  color: #191a1e;
}

.booking-form .form-checkbox label + label {
  margin-left: 15px;
}

.booking-form .form-checkbox input + span {
  position: absolute;
  left: 2px;
  top: 4px;
  width: 20px;
  height: 20px;
  background: #fff;
  border: 2px solid #dfe5e9;
  border-radius: 50%;
}

.booking-form .form-checkbox input + span:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background-color: #4fa3e3;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.booking-form .form-checkbox input:not(:checked) + span:after {
  opacity: 0;
}

.booking-form .form-checkbox input:checked + span:after {
  opacity: 1;
  width: 10px;
  height: 10px;
}

.booking-form .submit-btn {
  color: #fff;
  background-color: #4fa3e3;
  font-weight: 400;
  height: 65px;
  font-size: 18px;
  border: none;
  width: 100%;
  border-radius: 4px;
  text-transform: uppercase;
}

.booking-cta {
  margin-top: -20px;
  margin-left: -150px;
}

.booking-cta h1 {
  font-size: 45px;
  text-transform: uppercase;
  color: #4fa3e3;
  font-weight: 400;
}

.booking-cta p {
  font-size: 16px;
  color: #191a1e;
  margin-left: 1rem;
}
.card {
  margin-left: -130px;
}
.value__container {
  row-gap: 3rem;
}
.value__images {
  position: relative;
  display: flex;
  justify-content: center;
}
.value__orbe {
  width: 266px;
  height: 316px;
  background-color: hsl(228, 24%, 97%);
  border-radius: 135px 135px 16px 16px;
}
.value__img {
  position: absolute;
  width: 250px;
  height: 300px;
  overflow: hidden;
  border-radius: 125px 125px 12px 12px;
  inset: 0;
  margin: auto;
  box-shadow: 0 16px 32px hsla(228, 66%, 25%, 0.25);
}

.value__description {
  font-size: var(--small-font-size);
  margin-bottom: 2rem;
}
.value__accordion {
  display: grid;
  row-gap: 1.5rem;
}

.value__accordion-item {
  background-color: var(--body-color);
  border: 2px solid var(--border-color);
  border-radius: 0.5rem;
  padding: 1rem 0.75rem;
  margin-right: 30px;
}
.value__accordion-header {
  display: flex;
  align-items: center;
}
.value__accordion-icon {
  background-color: var(--first-color-lighten);
  padding: 5px;
  border-radius: 0.25rem;
  font-size: 18px;
  color: var(--first-color);
  margin-right: 0.75rem;
  transition: 0.3s;
}
.value__accordion-title {
  font-size: var(--small-font-size);
}
.value__accordion-arrow {
  display: inline-flex;
  background-color: var(--first-color-lighten);
  padding: 0.25rem;
  color: var(--first-color);
  border-radius: 2px;
  font-size: 10px;
  margin-left: auto;
  transform-origin: 0.3s;
}
.value__accordion-arrow i {
  transition: 0.4s;
}
.value__accordion-description {
  font-size: var(--smaller-font-size);
  padding: 1.25rem 2.5 rem 0 2.75rem;
}
.value__accordion-content {
  overflow: hidden;
  height: 0;
  transition: all 0.25s ease;
}
.accordion-open {
  box-shadow: 0 12px 32px hsla(228, 66%, 45%, 0.1);
}
.accordion-close {
}
.accordion-open .value__accordion-icon {
  box-shadow: 0 4px 4px hsla(228, 66%, 45%, 0.1);
}
.accordion-open .value__accordion-arrow {
  box-shadow: 0 2px 4px hsla(228, 66%, 45%, 0.1);
}
.accordion-open .value__accordion-arrow i {
  transform: rotate(-180deg);
}


.mat-expansion-panel {
  margin-bottom: 5px; /* Adjust the margin bottom for space between panels */
}
/* Style the expansion panel header */
.mat-expansion-panel-header {
  display: flex;
  align-items: center; 
}

/* Style the panel title */
.mat-panel-title {
  font-size: 18px; /* Change the font size */
}

/* Style the panel description */
.mat-panel-description {
  font-style: italic; /* Apply italic style */
}

/* Style the primary content of the panel */
.mat-expansion-panel-content {
  border: 1px solid #ccc; /* Add a border around the content */
  padding: 200px; /* Add padding to the content */
  
}

/* app.component.css */
/* 
::ng-deep .mat-expansion-panel {
  background-color: var(--body-color);
  border: 2px solid var(--border-color);
  border-radius: 0.5rem;
  padding: 1rem 0.75rem;
  margin-right: 30px;
}

::ng-deep .mat-expansion-panel-header {
  display: flex;
  align-items: center;
}

::ng-deep .mat-expansion-panel-header .mat-expansion-indicator {
  background-color: var(--first-color-lighten);
  padding: 5px;
  border-radius: 0.25rem;
  font-size: 18px;
  color: var(--first-color);
  margin-right: 0.75rem;
  transition: 0.3s;
}

::ng-deep .mat-expansion-panel-header .mat-content {
  font-size: var(--small-font-size);
}

::ng-deep .mat-expansion-panel-header .mat-expansion-panel-header-title {
  font-size: var(--small-font-size);
}

::ng-deep .mat-expansion-panel-header .mat-expansion-panel-header-description {
  font-size: var(--smaller-font-size);
  padding: 1.25rem 2.5rem 0 2.75rem;
}

::ng-deep .mat-expansion-panel-content {
  overflow: hidden;
  height: 0;
  transition: all 0.25s ease;
}

::ng-deep .mat-expansion-panel:not(.mat-expanded) {
  box-shadow: 0 12px 32px hsla(228, 66%, 45%, 0.1);
}

::ng-deep .mat-expansion-panel.mat-expanded {
  box-shadow: none;
}

::ng-deep .mat-expansion-panel-header .mat-expansion-indicator.mat-expanded {
  box-shadow: 0 4px 4px hsla(228, 66%, 45%, 0.1);
}

::ng-deep .mat-expansion-panel-header .mat-expansion-indicator.mat-expanded:hover {
  box-shadow: 0 2px 4px hsla(228, 66%, 45%, 0.1);
  transform: rotate(-180deg);
} */