<section class="r-wrapper">
  <div class="paddings innerWidth r-container">
    <div class="r-head flexColStart">
      <span class="orangeText"> Best Choice </span>
      <span class="primaryText">Popular University <span class="orangeText">.</span></span>
    </div>
       <div class="swiper">
            <div class="swiper-slide">
                <div class="r-card">
                    <img src="../../../assets/images/popular1.jpg" alt="home">
                    <span class="secondaryText r-price"></span>
                </div>
            </div>
       </div> 
  </div>
</section>
