<div mat-dialog-title class="cc">
    <h1>Modifier Foyer</h1>
    <hr />
</div>
<form (ngSubmit)="onSubmit()" #foyerForm="ngForm" class="col-md-8 mx-auto">
    <div class="form-group mb-3">
        <label for="nomFoyer">Nom du Foyer :</label>
        <input type="text" class="form-control" id="nomFoyer" [(ngModel)]="nomFoyer" name="nomFoyer" required />
    </div>
    <div class="form-group mb-3">
        <label for="capaciteFoyer">Capacité du Foyer :</label>
        <input type="number" class="form-control" id="capaciteFoyer" [(ngModel)]="capaciteFoyer" name="capaciteFoyer"
            required />
    </div>
    <div class="form-group mb-3">
        <label for="image">Image :</label>
        <input type="file" class="form-control-file" id="image" (change)="onFileChange($event)" name="image"
            accept="image/*" required />
    </div>
    <!-- Ajoutez ceci à votre formulaire HTML -->
    <div class="form-group mb-3">
        <label for="university">Université :</label>
        <mat-form-field appearance="outline">
            <mat-select [(ngModel)]="selectedUni" class="form-control" name="selectedUni" required id="selectedUni">
                <mat-option *ngFor="let i of uni" [value]="i.nomUniversite">
                  {{ i.nomUniversite }}
                </mat-option>
              </mat-select>
        </mat-form-field>
      </div>

    <button type="submit" class="btn btn-primary btn-lg" [disabled]="!foyerForm.form.valid">
        Mettre à jour le Foyer
    </button>
</form>