<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
/>
<!-- BoxIconx -->
<link
  href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0..1,0"
/>

<link href="https://fonts.gstatic.com" rel="preconnect" />
<link
  href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
  rel="stylesheet"
/>

<link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<!-- Vendor CSS Files -->
<link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link
  href="/assets/vendor/bootstrap-icons/bootstrap-icons.css"
  rel="stylesheet"
/>
<link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
<link href="/assets/vendor/quill/quill.snow.css" rel="stylesheet" />
<link href="/assets/vendor/quill/quill.bubble.css" rel="stylesheet" />
<link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet" />
<link href="/assets/vendor/simple-datatables/style.css" rel="stylesheet" />
<link rel="icon" type="image/x-icon" href="favicon.ico" />
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link
  href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>

<!-- Template Main CSS File -->
<link href="/assets/css/styleback.css" rel="stylesheet" />
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link
  href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>

<app-header-back></app-header-back>
<app-sidebar-back></app-sidebar-back>
<router-outlet></router-outlet>

