<section class="hero-wrapper">
  <div class="paddings innerWidth flexCenter hero-container">
    <div class="flexColStart hero-left">
      <div class="hero-title">
        <div class="orange-circle"></div>

        <h1>
          Discover <br />
          Most Suitable <br />
          Hostle
        </h1>
      </div>
      <div class="flexColStart hero-des">
        <span class="secondaryText">Find a variety of Hostle that suit you very easilty </span
        ><span class="secondaryText">Forget all difficulties in finding a Hostle for you </span>
      </div>
      <div class="flexCenter search-bar">
        <i
          class="bx bxs-location-plus"
          style="color: var(--blue); font-size: 25px"
        ></i>
        <input type="text" placeholder="Search" />
        <button class="button">Search</button>
      </div>
      <div class="flexCenter stats">
        <div class="flexColCenter stat">
          <span
            >{{ count }}
            <span>+</span>
          </span>

          <span class="secondaryText">University partner</span>
        </div>
        <div class="flexColCenter stat">
          <span
            >{{ count }}
            <span>+</span>
          </span>

          <span class="secondaryText"> Happy customer</span>
        </div>
        <div class="flexColCenter stat">
          <span
            >{{ count }}
            <span>+</span>
          </span>

          <span class="secondaryText">Hostle free</span>
        </div>
      </div>
    </div>
    <div class="flexCenter hero-right">
      <div class="image-container">
        <img src="../../assets/images/hero-image.png" alt="" />
      </div>
    </div>
  </div>
</section>
